<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head profile="http://gmpg.org/xfn/11">
  <title><%= h(page_title) %></title>
  <meta name="verify-v1" content="Fh7aCrb+3EIdBKEQUAInQ9YS1dqcvZHNa60DuFy1y4Y=" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr" />
  <meta name="verify-v1" content="fAULzTIwl024feAfCptuQHEhhN691kTjFEZysN9oRKg=" />
  <link rel="icon" href="/favicon.png" type="image/png" /> 

  <%= stylesheet_link_tag "/stylesheets/theme/style", :media => 'all' %>
  <%= page_header %>
</head>
<body>
  <div id='container'>
    <div id='header'>
			<div id='logo'>
			  <% if controller.controller_name == 'articles' and controller.action_name.include? 'index' %>
		    <h1><%= link_to(this_blog.blog_name, this_blog.base_url) %></h1>
        <% else %>
	      <p class='title'><%= link_to(this_blog.blog_name, this_blog.base_url) %></p>
        <% end %>
        <p><%= this_blog.blog_subtitle %></p>
      </div>
    </div>
    <div id='page'>
      <div id='content'>
        <%= @content_for_layout %>
      </div>
      <div id='sidebar'>
        <%= render :partial => 'shared/general_sidebar' %>
      </div>
      <br class='clear' />
  <div id='footer'>
    <div id='bigfooter'>
      <%= render_sidebars %>
    </div>
    <br class='clear' />
  </div>
  <br class='clear' />
  <div id='bottomnav'>
    <div id='bottomnavcontainer'>
      <div id='bottomnavigation'>
        <ul>
          <li <%= render_active_page 'sabonner' %>><a href='http://t37.net/pages/sabonner>S'abonner</a></li>
          <li><a href='http://t37.net/files/cv.pdf' title="Mon Curiculum Vitae">Curriculum vitae.</a></li>
          <li <%= render_active_page 'colophon' %>><a href='http://t37.net/pages/colophon' title="À propos du site et de l'auteur">À propos</a></li>
          <li <%= render_active_archives %>><a href='http://t37.net/articles/archives' title="Lire les archives du site">Articles</a></li>
          <li <%= render_active_index %>><a href='http://t37.net' title="Revenir à l'accueil">Accueil</a></li>
        </ul>
      </div>
      <div id='credits'>
        <ul>
          <li><a href="http://t37.net/">&copy; Frédéric de Villamil 1978-2009</a></li>
          <li <%= render_active_page 'mentions-legales' %>><a href="http://t37.net/pages/mentions-legales">Mentions légales</a></li>
        </ul>
        <br class='clear' />
      </div>
      </div>
      
    </div>
  </div>
</div>

<div id='nav'>
  <div id='rss'>
    <a href="http://feeds.feedburner.com/FredericDeVillamilcom" rel="external nofollow">
      <img src="/images/theme/rss.png" alt="Abonnez-vous au flux RSS et suivez les nouveaux articles du site" />
      <img src="http://feeds.feedburner.com/~fc/FredericDeVillamilcom?bg=FBB23C&amp;bg=ffffff&amp;anim=0&amp;label=lecteurs" alt="Lecteurs" />
    </a>    
  </div>
  <div id='twitter'>
    <a href='http://twitter.com/fdevillamil'>
      <img src='/images/theme/twitter.png' alt='Suivez-moi sur Twitter'>
    </a>
  </div>
  <div id='menu'>
    <ul>
      <li><a href='http://t37.net/archives'>Articles</a></li>
      <li><a href='http://t37.net/pages/themes'>Téléchargements</a></li>
      <li><a href='http://t37.net/pages/colophon'>À propos</a></li>
      <li><a href='http://t37.net/files/cv.pdf'>Curriculum vitae</a></li>
      <li><a href='http://t37.net/pages/sabonner'>S'abonner</a></li>
    </ul>
    
  </div>

</div>
<div id="breadcrumb">
  <ul>
    <%= render :partial => 'breadcrumb' %>
  </ul>
  <br class='clear' /> 
</div>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript">
    _uacct = "UA-80448-2";
    urchinTracker();
  </script>
</body>
</html>
