<div class="atomentry" id="article-<%= article.id %>">
<% if (controller.action_name.include? 'show') -%>
<div id="adsense_top">
<script type="text/javascript">
    display_adsense("pub-4977888525585882", "3292861530", 468, 60);
</script>
</div>
<h1>
  <%= link_to_permalink(article,article.title) %>
</h1>
    
<% else %> 
  <h2 class="title">  
    <%= link_to_permalink(article,article.title) %>
  </h2>
<% end%>

  <p class="author">
    Le 
    <abbr class="published" title="<%= article.published_at.xmlschema %>">
      <%= "#{article.published_at.strftime('%d')} #{_(article.published_at.strftime('%B'))} #{article.published_at.strftime('%Y à %Hh%M')}" %>
    </abbr> |
    <%= category_links(article) unless article.categories.empty? %> |
    <% if controller.action_name.include? 'show' -%>
    <%= "#{article.published_comments.size} #{pluralize(article.published_comments.size, 'commentaire', 'commentaire', 'commentaires')}" %>
    <% else -%>
    <%= link_to_permalink(article, "#{article.published_comments.size} #{pluralize(article.published_comments.size, 'commentaire', 'commentaire', 'commentaires')}" ,'commentaires', '',  'nofollow') %>
    <% end -%>
  </p>

  <div class="content">
   <% if controller.controller_name == 'articles' and controller.action_name.include? 'show' -%>
  <div id="adsense_body">
<script type="text/javascript">
    display_adsense("pub-4977888525585882", "9956916836", 336, 280);
</script>
  </div>
   <% end %>
    <%= article.html(:body) %>
    <div id="adsense"></div>
    <% if article.extended? -%>
    <div class="extended">
      <% if controller.action_name == 'index' -%>
      <p><%= link_to_permalink article,"&raquo; Lire la suite", '', '', 'nofollow' %></p>
      <% else -%>
      <%= article.html(:extended) %>
      <% end -%>
    </div>
    <% end -%>

  </div>
</div>
