<div class="atomentry" id="article-<%= article.id %>">
  <% if (controller.controller_name.include? 'redirect') -%>
  <h1><%= link_to_permalink(article,article.title) %></h1>
  <% else %> 
  <h2 class="title"><%= link_to_permalink(article,article.title) %></h2>
<% end%>

  <p class="author">
    Le 
    <%= "#{article.published_at.strftime('%d')} #{_(article.published_at.strftime('%B'))} #{article.published_at.strftime('%Y à %Hh%M')}" %> |
    <%= category_links(article) unless article.categories.empty? %> |
    <% if controller.controller_name.include? 'redirect' -%>
    <%= pluralize_comments article.published_comments.size %>
    <% else -%>
    <a href="<%= article.permalink_url %>#commentaires" rel='nofollow'><%= pluralize_comments(article.published_comments.size) %></a> 
    <% end -%>
  </p>

  <div class="content">
    <%= article.html(:body) %>
    <% if article.extended? -%>
    <div class="extended">
      <% if controller.action_name == 'index' -%>
      <p><strong>Lire</strong> <%= link_to_permalink article, article.title, '', '' %></p>
      <% else -%>
      <%= article.html(:extended) %>
      <% end -%>
    </div>
    <% end -%>

  </div>
</div>
