<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head profile="http://gmpg.org/xfn/11">
  <title><%= h(page_title) %></title>
  <meta name="verify-v1" content="Fh7aCrb+3EIdBKEQUAInQ9YS1dqcvZHNa60DuFy1y4Y=" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr" />
  <meta name="verify-v1" content="fAULzTIwl024feAfCptuQHEhhN691kTjFEZysN9oRKg=" />
  <link rel="icon" href="/favicon.png" type="image/png" /> 

  <%= stylesheet_link_tag "/stylesheets/theme/style", :media => 'all' %>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <%= page_header %>
</head>
<body>
  <div id="container">
    <div id="header">
			<div id="logo">
			  <% if controller.controller_name == "articles" and controller.action_name.include? 'index' %>
			    <h1><a href="<%= this_blog.base_url%>">Ergonomie web, Ruby on Rails et Architecture de l'information</a></h1>
          <p>Blog de Frédéric de Villamil sur les métiers du web</p>
        <% else %>
		    <p class="title"><a href="<%= this_blog.base_url%>">Ergonomie web, Ruby on Rails et Architecture de l'information</a></p>
        <p>Blog de Frédéric de Villamil sur les métiers du web</p>
        <% end %>
      </div>
    </div> <!-- fin #header -->
    <div id="page">
      <div id="content">
        <%= @content_for_layout %>
      </div> <!-- fin #content -->
    <div id="sidebar">
      <%= render :partial => 'shared/general_sidebar' %>      
	<div class="sidebarelement"> 
	<a xmlns:sioc="http://rdfs.org/sioc/ns#" rel="sioc:has_owner" href="https://creativecommons.net/fdv/"><img src="http://i.creativecommons.net/p/fdv" style="border:0px;" /></a>
	</div>
    </div> <!-- fin #sidebar -->
    <br style="clear:both;" />
  </div> <!-- fin #container -->
  </div>
  <div id="footer">
    <div id="bigfooter">
      <%= render_sidebars %>
      <div id="about-me">
        <h3>À propos</h3>
        <p><img src="http://t37.net/images/fredericdevillamil.jpg" alt="Frédéric de Villamil" title="Frédéric de Villamil" class="alignleft" />Passionné d'informatique depuis l'âge de six ans, je travaille en tant que responsable qualité chez blueKiwi Software, éditeur spécialiste des outils collaboratifs en entreprise. Ma double formation en sciences politiques et en informatique me permet de porter un regard particulier sur les problématiques abordées par mon poste.</p>
        <p>J'axe mon travail sur une démarche constante tout au long du cycle de vie du produit, le respect des standards, l'accessibilité et utilisabilité avec la conviction que le web s'adresse avant tout à l'utilisateur.</p>
        <p>Mes centres d'intérêts sont variés et comptent aussi bien l'Histoire, que les relations internationales, la photo, le jeu de go, la musique électronique ou l'animation japonaise (<a href="http://fredericdevillamil.com/pages/colophon">en savoir plus...</a>).</p>
      </div> <!-- fin #about-me -->
    </div> <!-- fin #bigfooter -->
    <br style="clear:both" />
  </div> <!-- fin #footer -->
  <br style="clear: both;" />
  <div id="bottomnav">
    <div id="bottomnavcontainer">
      <div id="bottomnavigation">
        <ul>
          <li <%= 'class="active"' if controller.controller_name == "articles" and controller.action_name == "view_page" and params[:name].to_s == "sabonner"%>><a href="http://t37.net/pages/sabonner" title="Suivre ce site par mail ou flux RSS">S'abonner</a></li>
          <li><a href="http://t37.net/files/cv.pdf" title="Mon Curiculum Vitae">C.V.</a></li>
          <li><a <%= 'class="active"' if controller.controller_name == "articles" and controller.action_name == "view_page" and params[:name].to_s == "colophon"%> href="http://t37.net/pages/colophon" title="À propos du site et de l'auteur">À propos</a></li>
          <li><a <%= 'class="active"' if controller.controller_name == "articles" and controller.action_name != "index" and controller.action_name != "view_page" %> href="http://t37.net/articles/archives" title="Lire les archives du site">Articles</a></li>
          <li><a <%= 'class="active"' if controller.controller_name == "articles" and controller.action_name == "index" %> href="http://t37.net" title="Revenir à l'accueil">Accueil</a></li>
        </ul>
      </div> <!-- fin #bottomnavigation -->
      <div id="credits">
        <ul>
          <li><a href="http://t37.net/">&copy; Frédéric de Villamil 1978-2008</a></li>
          <li><a href="http://t37.net/pages/mentions-legales">Mentions légales</a></li>
        </ul>
        <br style="clear: both;" />
      </div> <!-- fin #credits -->
    </div> <!-- fin #bottomnavcontainer -->
  </div><!-- fin #bottomnav -->
  <div id="nav">
    <dl id="nav_articles">
      <dt>Articles</dt>
        <dd <%= 'class="active"' if controller.controller_name == 'articles' and controller.action_name != 'view_page' %>>
          <%= link_to "Archives", {:controller => 'articles', :action => 'archives'} %>
        </dd>
        <dd <%= 'class="active"' if controller.controller_name == 'categories' %>>
          <%= link_to "Catégories", {:controller => 'categories', :action => 'index'} %>
        </dd>
        <dd <%= 'class="active"' if controller.controller_name == 'tags' %>>
          <%= link_to "Thématiques", {:controller => 'tags', :action => 'index'}%>
        </dd>
    </dl>
    <dl id="nav_downloads">
      <dt>Téléchargements</dt>
      <dd <%= 'class="active"' if controller.action_name == 'view_page' and params[:name].to_s == 'themes' %>>
        <%= link_to "Thèmes", {:controller => 'articles', :action => 'view_page', :name => 'themes'} %>
      </dd>
      <dd>
        <%= link_to "Typo", 'http://typosphere.org'%>
      </dd>
    </dl>
    <dl id="nav_contact">
      <dt>Contact</dt>
      <dd <%= 'class="active"' if controller.action_name == 'view_page' and params[:name].to_s == 'colophon' %>>
        <%= link_to "À propos", {:controller => 'articles', :action => 'view_page', :name => 'colophon'} %>
      </dd>
      <dd>
        <%= link_to "CV", this_blog.base_url + '/files/cv.pdf' %>
      </dd>
      <dd <%= 'class="active"' if controller.action_name == 'view_page' and params[:name].to_s == 'sabonner' %>>
        <%= link_to "S'abonner", {:controller => 'articles', :action => 'view_page', :name => 'sabonner'} %>
      </dd>
    </dl>
    <dl id="nav_rss">
      <dt>Flux RSS</dt>
      <dd><a href="http://feeds.feedburner.com/FredericDeVillamilcom" rel="external nofollow">
        Abonnez-vous au flux RSS et suivez les nouveaux articles du site.<br /><img src="http://feeds.feedburner.com/~fc/FredericDeVillamilcom?bg=FBB23C&amp;bg=ffffff&amp;anim=0&amp;label=lecteurs" alt="Lecteurs" />
      </a></dd>
    </dl>
    <form action="http://www.feedburner.com/fb/a/emailverify" 
      method="post"
      onsubmit="window.open('http://www.feedburner.com', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
      <dl id="nav_email">
        <dt>Abonnement email</dt>
        <dd><label for="form_email">Adresse email</label> <input type="text" id="form_email" name="email"/></dd>
        <dd>
		<input type="submit" value="Je m'inscris" />
	      <input type="hidden" value="http://feeds.feedburner.com/~e?ffid=382274" name="url"/>
      	<input type="hidden" value="Frederic de Villamil .com" name="title"/>          

	</dd>
      </dl>
    </form>
    </div>
    <div id="breadcrumb">
      <ul>
        <%= render :partial => 'breadcrumb' %>
      </ul>
      <br style="clear: both" /> 
    </div> <!-- fin #breadcrumb -->		

</div>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript">
    _uacct = "UA-80448-2";
    urchinTracker();
  </script>
</body>
</html>
